header
{
    height : 100vh;
    background-image: url("../images/desk.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    /*box-sizing: border-box;*/
}

nav
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis:7%;
}
ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
li
{
    list-style: none;
    padding-left: 1vw;
    padding-right: 1vw;
}
li[data-scroll-nav]
{
    visibility: hidden;
}
header>section
{
    flex-basis: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7%;
}

#messageAccueil
{
    display: flex;
    flex-direction: column;

}

#logoHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header i
{
    background-color: #292929;
    padding: 10px;
    width: 16px;
    height: 16px;
    /*background-origin: padding-box;*/
    text-align: center;
    border-radius: 20px;
    margin-right: 4px;
    margin-left: 4px;
}

#aboutMe
{
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutMe>section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutMe>div
{
    display: flex;
    flex-direction: column;
}
#contenuAboutMe>div
{
    display: flex;
    flex-direction: column;
}
#downloadButton
{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

#contactMeButton
{
    border: black solid 1px;
    color: purple;
    padding: 10px;
    border-radius: 8px;
}

#certification
{
    background-color: #ececf4;
}

#certification .slide
{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #eaeaee;
}
#certification img
{
    width: 10em;
    height: 10em;
    border-radius: 5em;
}

#portfolio
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portfolio>section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 99vw;
}
#portfolio div
{
    position : relative;
}
#portfolio img
{
    width: 75vw;
    height: 60vw;
    border-radius: 15px;
    margin-top: 2vw ;
    margin-bottom: 2vw;
}

#portfolio img:hover+.whiteSquare
{
    opacity:0.9;
}


.whiteSquare
{
    background-color: ghostwhite;
    border-radius: 15px;
    position: absolute;
    top: 1.6vw;
    left: 2.5vw;
    width: 70vw;
    height: 56.6vw;
    opacity: 0;
    transition: opacity 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whiteSquare:hover
{
    opacity:0.9;
}

#contact
{
    background-color: #fff7db;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contact>form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
}

#contact input
{
    width: 50vw;
    border: none;
    border-radius: 5px;
    margin : 2vw;
}

#contact textarea
{
    width: 50vw;
    border: none;
    border-radius: 5px;
}

#contact input[type="submit"]
{
    background-color: black;
    color: white;
    width: 8em;
}



@media (min-width:800px) {
    header
    {
        height : 100vh;
        background-image: url("../images/desk.jpg");
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        color: white;
        /*box-sizing: border-box;*/
    }

    nav
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-basis:7%;
    }
    ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
    }
    li
    {
        list-style: none;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    li[data-scroll-nav]
    {
        visibility: visible;
    }
    li>i
    {
        visibility: hidden;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: 0;
    }
    header>section
    {
        flex-basis: 93%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 7%;
    }

    #messageAccueil
    {
        display: flex;
        flex-direction: column;

    }

    #logoHeader
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #logoHeader>i
    {
        background-color: #292929;
        padding: 10px;
        width: 16px;
        height: 16px;
        /*background-origin: padding-box;*/
        text-align: center;
        border-radius: 20px;
        margin-right: 4px;
        margin-left: 4px;
    }

    #aboutMe
    {
        background-color: ghostwhite;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aboutMe>section
    {
        display: flex;
        flex-direction: row;
    }

    #aboutMe>div
    {
        display: flex;
        flex-direction: column;
    }

    #downloadButton
    {
        background-color: black;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 8px;
    }

    #contactMeButton
    {
        border: black solid 1px;
        color: purple;
        padding: 10px;
        border-radius: 8px;
    }

    #certification
    {
        background-color: #ececf4;
    }

    #certification .slide
    {
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #eaeaee;
    }
    #certification img
    {
        width: 10em;
        height: 10em;
        border-radius: 5em;
    }

    #portfolio
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #portfolio>section
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 99vw;
        margin: 2.5vw;
    }
    #portfolio div
    {
        position : relative;
    }
    #portfolio img
    {
        width: 25vw;
        height: 20vw;
        flex-wrap: wrap;
        border-radius: 15px;
    }

    #portfolio img:hover+.whiteSquare
    {
        opacity:0.9;
    }


    .whiteSquare
    {
        background-color: ghostwhite;
        border-radius: 15px;
        position: absolute;
        top: 0.76vw;
        left: 1.02vw;
        width: 23vw;
        height: 18.4vw;
        opacity: 0;
        transition: opacity 0.7s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .whiteSquare:hover
    {
        opacity:0.9;
    }

    #contact
    {
        background-color: #fff7db;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #contact>form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 40vh;
    }

    #contact input
    {
        width: 50vw;
        border: none;
        border-radius: 5px;
    }

    #contact textarea
    {
        width: 50vw;
        border: none;
        border-radius: 5px;
    }

    #contact input[type="submit"]
    {
        background-color: black;
        color: white;
        width: 8em;
    }
}    
