section
{
    display : flex;
    flex-direction: column;
    margin:0px;
    font-size : 90px;
    text-align: center;
}

.ligne
{
    display : flex;
    flex-direction: row ;
}
.case
{
    width : 100px;
    height : 100px;
}

.vertical

{ 
    border-left : green 1px solid;
    border-right : green 1px solid;
    width : 100px;
    height : 100px;
}

.lateral

{
    width : 100px;
    height : 100px;
    border-top: green 1px solid;
    border-bottom : green 1px solid;
}

.center
{
    width : 100px;
    height : 100px;
    border : green 1px solid;
}

input
{
    margin-top: 10px;
    width : 300px;
}