

section
{
    display : flex;
    border : 1px solid black;
    flex-direction : column;
    justify-content: space-around ;
}


header
{
    display: flex;
    flex-direction : row ;
    justify-content: space-between;
    border : 1px solid blue;
    background-color: white;
}

.mid
{
    display: flex;
    flex-direction : row;
    justify-content: space-around;
}
.divH
{
    border : 1px solid red;
    background-color: red;
}

footer
{
    display: flex;
    flex-direction : row ;
    justify-content: space-around;
    border : 1px solid blue;
    background-color: white;
}